<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>445592455654-rucuoi02l4dv45ehq4h2v4asdk0fglrt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.445592455654-rucuoi02l4dv45ehq4h2v4asdk0fglrt</string>
	<key>API_KEY</key>
	<string>AIzaSyCycnLRGALTpS9U0SR5CpuDzbfrDY8Ve-0</string>
	<key>GCM_SENDER_ID</key>
	<string>445592455654</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.companyname.fudito</string>
	<key>PROJECT_ID</key>
	<string>fudito-16325</string>
	<key>STORAGE_BUCKET</key>
	<string>fudito-16325.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:445592455654:ios:4485665e8decb320c32e27</string>
	<key>DATABASE_URL</key>
	<string>https://fudito-16325.firebaseio.com</string>
</dict>
</plist>